.title {
  font-size: var(--theme-display-m-font-size);
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: var(--theme-headline-l-font-size);
  }
}