.card-container {
  object-fit: contain;
  width: calc(50% - 6px);
  height: 300px;
  border: 1px solid #cecece;
  border-radius: 8px;
  position: relative;
  z-index: 11;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name {
  display: none;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
  position: absolute;
  bottom: 0;
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.links-card {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  flex-direction: row;
  gap: 10px;
}

.card-container:hover {
  & .name {
    display: block;
  }

  & .links-card {
    display: flex;
  }
}

@media screen and (max-width: 920px) {
  .name {
    display: block;
  }

  .links-card {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 100%;
  }
}