.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 12px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--color-on-background);
}

.footer-top svg {
  animation-name: forward;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes forward {
  from {
    margin-left: 1rem;
  }

  to {
    margin-left: 2rem;
  }
}

.footer-top svg:hover {
  animation-name: forward;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.footer-bottom {
  display: flex;
  gap: 16px;
}

.footer-bottom svg {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-top {
    padding-bottom: 60px;
  }

  .footer-bottom {
    justify-content: center;
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    padding: 12px 20px;
    gap: 24px;
    background: linear-gradient(var(--color-surface-bright), var(--color-surface-container-lowest));
    z-index: 13;
  }
}