.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
}

.footer-top svg {
  animation-name: forward;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes forward {
  from {
    margin-left: 1rem;
  }

  to {
    margin-left: 2rem;
  }
}

.footer-top svg:hover {
  animation-name: forward;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .footer-top {
    padding-bottom: 50px;
  }

  .footer-bottom {
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 13;
  }
}