:root {
  /* Colors */
  --primary-light-color: #a6f1a6;
  --primary-dark-color: #64a664;
  --background-color: linear-gradient(45deg, #87ceeb, #f0f8ff, #e6f7ff);
  --border-color: #dddddd;
  /* --primary-color-hover: #228B22; */
  --primary-color: #A5D6A7;
  --secondary-color: #81C784;
  --text-color: #1B5E20;
  --icon-color: #f1f1f1;
  --primary-color-hover: #C8E6C9;

  /* Typography */
  --font-family: 'Arial, sans-serif';
  --font-size-base: 16px;
  --font-size-h1: 2em;
  /* 32px */
  --font-size-h2: 1.5em;
  /* 24px */
  --font-size-h3: 1.17em;
  /* 18.72px */
  --font-size-h4: 1em;
  /* 16px */
  --font-size-h5: 0.83em;
  /* 13.28px */
  --font-size-h6: 0.67em;
  /* 10.72px */
  --font-size-p: 1em;
  /* 16px */
  --font-size-small: 0.8em;
  /* 12.8px */
  --font-size-large: 1.25em;
  /* 20px */

  /* Layout */
  --padding-base: 1rem;
  --margin-base: 1rem;
  --border-radius: 4px;

  /* Common Tags */
  --section-padding: var(--padding-base);
  --main-padding: var(--padding-base);
  --before-content: ' ';
  --after-content: ' ';
}

[data-theme="dark"] {
  /* Colors */
  --primary-light-color: #228B22;
  --primary-dark-color: #004d00;
  --background-color: linear-gradient(45deg, #191970, #4b0082, #000033);
  --border-color: #444444;
  /* --primary-color-hover: #228B22; */
  --primary-color: #00796B;
  --secondary-color: #004D40;
  --text-color: #E0F2F1;
  --icon-color: #f1f1f1;
  --primary-color-hover: #B2DFDB;

  /* Typography */
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
  --font-size-h1: 2em;
  /* 32px */
  --font-size-h2: 1.5em;
  /* 24px */
  --font-size-h3: 1.17em;
  /* 18.72px */
  --font-size-h4: 1em;
  /* 16px */
  --font-size-h5: 0.83em;
  /* 13.28px */
  --font-size-h6: 0.67em;
  /* 10.72px */
  --font-size-p: 1em;
  /* 16px */
  --font-size-small: 0.8em;
  /* 12.8px */
  --font-size-large: 1.25em;
  /* 20px */

  /* Layout */
  --padding-base: 1rem;
  --margin-base: 1rem;
  --border-radius: 4px;

  /* Common Tags */
  --section-padding: var(--padding-base);
  --main-padding: var(--padding-base);
  --before-content: ' ';
  --after-content: ' ';
}

[data-theme="dawn"] {
  /* Colors */
  --primary-light-color: #a6f1a6;
  --primary-dark-color: #64a664;
  --background-color: linear-gradient(45deg, #ffb6c1, #ffdab9, #ffec8b);
  --border-color: #dddddd;
  /* --primary-color-hover: #228B22; */
  --primary-color: #A5D6A7;
  --secondary-color: #81C784;
  --text-color: #1B5E20;
  --icon-color: #f1f1f1;
  --primary-color-hover: #C8E6C9;

  /* Typography */
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
  --font-size-h1: 2em;
  /* 32px */
  --font-size-h2: 1.5em;
  /* 24px */
  --font-size-h3: 1.17em;
  /* 18.72px */
  --font-size-h4: 1em;
  /* 16px */
  --font-size-h5: 0.83em;
  /* 13.28px */
  --font-size-h6: 0.67em;
  /* 10.72px */
  --font-size-p: 1em;
  /* 16px */
  --font-size-small: 0.8em;
  /* 12.8px */
  --font-size-large: 1.25em;
  /* 20px */

  /* Layout */
  --padding-base: 1rem;
  --margin-base: 1rem;
  --border-radius: 4px;

  /* Common Tags */
  --section-padding: var(--padding-base);
  --main-padding: var(--padding-base);
  --before-content: ' ';
  --after-content: ' ';
}

[data-theme="dusk"] {
  /* Colors */
  --primary-light-color: #228B22;
  --primary-dark-color: #004d00;
  --background-color: linear-gradient(45deg, #ff4500, #da70d6, #ff7f50);
  --border-color: #444444;
  /* --primary-color-hover: #228B22; */
  --primary-color: #00796B;
  --secondary-color: #004D40;
  --text-color: #E0F2F1;
  --icon-color: #f1f1f1;
  --primary-color-hover: #B2DFDB;

  /* Typography */
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
  --font-size-h1: 2em;
  /* 32px */
  --font-size-h2: 1.5em;
  /* 24px */
  --font-size-h3: 1.17em;
  /* 18.72px */
  --font-size-h4: 1em;
  /* 16px */
  --font-size-h5: 0.83em;
  /* 13.28px */
  --font-size-h6: 0.67em;
  /* 10.72px */
  --font-size-p: 1em;
  /* 16px */
  --font-size-small: 0.8em;
  /* 12.8px */
  --font-size-large: 1.25em;
  /* 20px */

  /* Layout */
  --padding-base: 1rem;
  --margin-base: 1rem;
  --border-radius: 4px;

  /* Common Tags */
  --section-padding: var(--padding-base);
  --main-padding: var(--padding-base);
  --before-content: ' ';
  --after-content: ' ';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background: var(--background-color);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  color: var(--text-color)
}

.paddingInlineStart {
  padding-inline-start: "14px";
}

main {
  width: 70%;
  margin: 100px auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat";
}

button:hover {
  background-color: var(--primary-color-hover);
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: min(500px, 100%);
  margin-bottom: 15px;
  border: none;
  font-family: inherit;
}

input:focus {
  border-color: #0077cc;
  outline: none;
}

textarea {
  width: min(500px, 100%);
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  resize: none;
  border: none;
  margin-bottom: 15px;
  font-family: inherit;
}

textarea:focus {
  border-color: #0077cc;
  outline: none;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 600;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

p {
  line-height: 1.5rem;
}

/* page container */
.page-container {
  display: flex;
  padding: 48px 48px 12px;
  color: var(--text-color);
}

/* home styles */
.link-p {
  font-size: 20px;
}

.home-h1 {
  font-size: 48px;
}

.home-p1 {
  font-size: 30px;
}

.home-p2 {
  font-size: 20px;
  line-height: 1.75rem
}

/* about styles */
.about-h2 {
  margin-block: 1rem;
}

.about-content {
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* project styles */
.tags-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding-block: 2rem;
}

/* resume */
.pdf {
  width: 100%;
  /* aspect-ratio: 4 / 3; */
  height: 100%;
}

@media screen and (max-width: 920px) {
  main {
    width: 100%;
    margin: 0;
    padding: 24px;
  }

  .page-container {
    padding: 24px;
  }

  p {
    line-height: 2rem;
  }

  .home-h1 {
    font-size: var(--font-size-h1);
  }

  .home-p1 {
    font-size: 24px;
  }

  .home-p2 {
    font-size: var(--font-size-p);
    line-height: 1.5rem;
  }

  .link-p {
    font-size: var(--font-size-p);
  }

}

@media screen and (max-width: 770px) {
  .tags-container {
    padding-block: 0;
  }

  .my-svg-icon {
    color: var(--icon-color);
  }
}

/* day
Light Sky blue - #87ceeb
soft white - #f0f8ff
pale blue - #e6f7ff */

/* night
mid night blue - #191970
deep violet - #4b0082
starry sky blue - #000033 */

/* dawn
soft pink - #ffb6c1
peach orange - #ffdab9
light gold - #ffec8b

dusk
deep orange - #ff4500
soft purple - #da70d6
coral - #ff7f50 */