@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-background: #faf9f6;
  --color-on-background: #1a1c1a;
  --color-surface: #faf9f6;
  --color-surface-dim: #dadad7;
  --color-surface-bright: #faf9f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f4f4f0;
  --color-surface-container: #eeeeea;
  --color-surface-container-high: #e9e8e5;
  --color-surface-container-highest: #e3e3df;
  --color-on-surface: #1a1c1a;
  --color-surface-variant: #dee4dc;
  --color-on-surface-variant: #424842;
  --color-inverse-surface: #2f312f;
  --color-inverse-on-surface: #f1f1ed;
  --color-outline: #727972;
  --color-outline-variant: #c2c8c0;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-surface-tint: #47654e;
  --color-primary: #0a2815;
  --color-on-primary: #ffffff;
  --color-primary-container: #2c4934;
  --color-on-primary-container: #c0e2c5;
  --color-inverse-primary: #adcfb3;
  --color-secondary: #556156;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #dae7d9;
  --color-on-secondary-container: #404c41;
  --color-tertiary: #082438;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #2c455b;
  --color-on-tertiary-container: #c3dcf7;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #410002;

  /* Typography */
  --font-size-h1: 2em;

  /* --- new layout fonts --- */
  --theme-display-font-family: "Grey Qo", sans-serif;
  /* hero */
  --theme-hero-font-family: var(--theme-display-font-family);
  --theme-hero-font-size: 96px;
  --theme-hero-line-height: 1;
  --theme-hero-font-weight: 475;
  --theme-hero-letter-spacing: 0;

  /* display */
  --theme-display-font-family: var(--theme-display-font-family);
  --theme-display-font-weight: 475;
  --theme-display-letter-spacing: 0;
  /* x-large */
  --theme-display-xl-font-size: 88px;
  --theme-display-xl-line-height: 96px;
  /* large */
  --theme-display-l-font-size: 57px;
  --theme-display-l-line-height: 64px;
  /* medium */
  --theme-display-m-font-size: 45px;
  --theme-display-m-line-height: 52px;
  /* small */
  --theme-display-s-font-size: 36px;
  --theme-display-s-line-height: 44px;

  /* headline */
  --theme-headline-font-family: var(--theme-display-font-family);
  --theme-headline-font-weight: 475;
  /* large */
  --theme-headline-l-font-size: 32px;
  --theme-headline-l-line-height: 40px;
  /* medium */
  --theme-headline-m-font-size: 28px;
  --theme-headline-m-line-height: 36px;
  /* small */
  --theme-headline-s-font-size: 24px;
  --theme-headline-s-line-height: 32px;

  /* title */
  --theme-title-font-family: var(--theme-text-font-family);
  /* large */
  --theme-title-l-font-size: 18px;
  --theme-title-l-line-height: 30px;
  --theme-title-l-font-weight: 600;
  /* medium */
  --theme-title-m-font-size: 16px;
  --theme-title-m-line-height: 24px;
  --theme-title-m-font-weight: 700;
  /* small */
  --theme-title-s-font-size: 14px;
  --theme-title-s-line-height: 20px;
  --theme-title-s-font-weight: 600;

  /* label */
  --theme-label-font-family: var(--theme-text-font-family);
  --theme-label-font-weight: 500;
  --theme-label-s-letter-spacing: .1px;
  /* large */
  --theme-label-l-font-size: 14px;
  --theme-label-l-line-height: 20px;
  /* medium */
  --theme-label-m-font-size: 12px;
  --theme-label-m-line-height: 16px;
  /* small */
  --theme-label-s-font-size: 11px;
  --theme-label-s-line-height: 16px;

  /* para */
  --theme-body-font-family: var(--theme-text-font-family);
  --theme-body-font-weight: 400;
  --theme-body-letter-spacing: .1px;
  /* para-large */
  --theme-body-l-font-size: 16px;
  --theme-body-l-line-height: 24px;
  /* para-medium */
  --theme-body-m-font-size: 14px;
  --theme-body-m-line-height: 20px;
  /* para-small */
  --theme-body-s-font-size: 12px;
  --theme-body-s-line-height: 16px;

  /* code */
  --theme-code-font-family: var(--theme-mono-font-family);
  --theme-code-letter-spacing: 0;
  --theme-code-font-weight: 400;
  /* large */
  --theme-code-l-font-size: 16px;
  --theme-code-l-line-height: 24px;
  /* medium */
  --theme-code-m-font-size: 14px;
  --theme-code-m-line-height: 20px;
  /* code snippet */
  --theme-code-snippet-font-size: 15px;
  --theme-code-snippet-line-height: 32px;
  --theme-code-snippet-font-weight: 500;

  /* border radius */
  --theme-border-radius-container: 36px;
  --theme-border-radius-hover: 28px;

  -webkit-font-smoothing: antialiased;
}

[data-theme="dark"] {
  --color-background: #121412;
  --color-on-background: #e3e3df;
  --color-surface: #121412;
  --color-surface-dim: #121412;
  --color-surface-bright: #383a37;
  --color-surface-container-lowest: #0d0f0d;
  --color-surface-container-low: #1a1c1a;
  --color-surface-container: #1e201e;
  --color-surface-container-high: #292a28;
  --color-surface-container-highest: #343533;
  --color-on-surface: #e3e3df;
  --color-surface-variant: #424842;
  --color-on-surface-variant: #c2c8c0;
  --color-inverse-surface: #e3e3df;
  --color-inverse-on-surface: #2f312f;
  --color-outline: #8c928b;
  --color-outline-variant: #424842;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-surface-tint: #adcfb3;
  --color-primary: #adcfb3;
  --color-on-primary: #193623;
  --color-primary-container: #14311e;
  --color-on-primary-container: #9fc0a4;
  --color-inverse-primary: #47654e;
  --color-secondary: #bdcabd;
  --color-on-secondary: #28332a;
  --color-secondary-container: #354036;
  --color-on-secondary-container: #c7d5c7;
  --color-tertiary: #b0c9e4;
  --color-on-tertiary: #193247;
  --color-tertiary-container: #132d42;
  --color-on-tertiary-container: #a1bad4;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  color: var(--color-on-background);
}

main {
  height: 100dvh;
  width: 100dvw;
  background: var(--color-background);
  color: var(--color-on-background);
  font-size: var(--theme-title-l-font-size);
  position: fixed;
  overflow: auto;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  background: var(--color-background);
  color: var(--color-on-background);
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat";
}

form {
  padding: 24px 32px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: min(600px, 100%);
  margin-bottom: 15px;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: var(--color-surface-container-highest);
}

input[type="submit"] {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}

input[type="submit"]:hover {
  background-color: var(--color-on-secondary-container);
  color: var(--color-secondary-container);
  transition: all 0.2s ease-in-out;
}

input:focus {
  border-color: var(--color-on-surface-variant);
  outline: none;
}

textarea {
  width: min(600px, 100%);
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  resize: none;
  border: none;
  margin-bottom: 15px;
  font-family: inherit;
  color: inherit;
  background-color: var(--color-surface-container-highest);
}

textarea:focus {
  border-color: var(--color-on-surface-variant);
  outline: none;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 600;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

p {
  line-height: 1.5rem;
}

/* page container */
.page-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

/* home styles */
.home-page-container {
  padding-block: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
  font-size: 60px;
}

.waviy span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;
  color: var(--color-tertiary);
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}

#home-role {
  font-size: var(--theme-headline-s-font-size);
  line-height: var(--theme-headline-s-line-height);
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

#home-role:hover {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;
}

#home-link {
  font-weight: var(--theme-title-l-font-weight);
  color: inherit;
  text-decoration: none;
}

#home-link:hover {
  color: var(--color-tertiary);
  transition: color 0.2s ease-in-out;
}

/* about styles */
.about-h2 {
  font-size: var(--theme-display-m-font-size);
}

.about-content {
  padding: 24px;
}

/* Container */
.timeline-container {
  margin: 50px 0 auto;
  padding-left: 30px;
}

/* Timeline Structure */
.timeline {
  position: relative;
  border-left: 4px solid var(--color-inverse-primary);
  padding-left: 20px;
}

/* Timeline Item */
.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

/* Dot */
.timeline-dot {
  position: absolute;
  top: 0;
  left: -31.5px;
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-surface-tint);
  border-radius: 50%;
  background-color: var(--color-background);
  z-index: 5;
}

/* Timeline Content */
.timeline-content {
  padding-inline: 15px;
}

.timeline-content h3 {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.timeline-content p {
  font-size: 1rem;
}

/* project styles */
.tags-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding-block: 2rem;
}

.tags-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px 24px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  margin-inline: center;
  width: 100%;
}

/* resume */
.pdf {
  padding: 30px;
  width: 100%;
  aspect-ratio: 4 / 5;
  height: 100%;
}

@media screen and (max-width: 770px) {
  main {
    font-size: var(--theme-title-m-font-size);
  }

  form {
    padding: 16px 20px;
  }

  .home-page-container {
    gap: 10px;
    padding: 1rem;
  }

  .timeline-container {
    margin: 30px 0 auto;
    padding-left: 14px;
  }

  .tags-section {
    gap: 10px;
    padding: 0 14px 14px;
  }

  .pdf {
    padding: 16px;
  }
}

@media screen and (max-width: 600px) {
  .tags-container {
    justify-content: space-between;
  }
}